
div{
    padding: 1px; 
    margin-bottom: 400px;
}

p{color:white}

body{
    background-color:#35414a;
    padding: 20px;
    border: gray 5px solid;
}

h1 {font-size: 75px; color:#9cbcd6}

.image {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 2px;    
}
.caption {
    font-style: italic;
    text-align: center;
    color: black;
    clear: both;
}

.image > p {
    color: burlywood;
}

.pic {
    border: 5px solid #ccc;
    border-radius: 10px;
}

.box {
    width: 300px;
    padding: 20px;
    border: 4px solid #9cbcd6;
    background-color: rgba(255,255,255,0.2);
    margin-bottom: 20px;
    float: left;
    margin-right: 30px;
    visibility: hidden;
}


